#app {
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: larger;
}

footer a {
  text-decoration: none;
  color: rgb(216, 216, 216);
}

footer a:hover {
  color: #fff;
}
